# Object files
*.o

# Executables
Heavy-metal/videobox
Punk/videobox
Rockstar/videobox
Publisher/publisher

# Build directories
Debug
Release
Profile

# Project file
videobox.pro.user
publisher.pro.user
